<html>
    <body>
        <table>
            <thead>
            <tr>
              <th>Name</th>
              <th>ID</th>
              <th>Age</th>
            </tr>
            </thead>
            <tbody id="result">
            </tbody>
        </table>

        <!-- <script type="module" src="/static/js/api/config.js"></script> -->
        <script type="module">
          import { uri } from '/static/js/api/config.js';
      
          const url = uri + '/api/users/';
          const authurl = uri + '/api/users/authenticate';
        
          // prepare HTML result container for new output
          const resultContainer = document.getElementById("result");
      
          // Assuming you have some form of credentials to send
          const credentials = {
              username: document.getElementById('username').value,
              uid: document.getElementById('uid').value,
              password: document.getElementById('password').value
          };
      
          const authrequestOptions = {
              method: 'POST',
              headers: { 'Content-Type': 'application/json' },
              body: JSON.stringify(credentials)
          };
      
          const requestOptions = {
              method: 'GET',
          };
      
          fetch(authurl, authrequestOptions)
              .then(response => {
                  if (!response.ok) {
                      throw new Error('Error authenticating user');
                  }
                  console.log('User authenticated');
                  return response.json();
              })
              .then(data => {
                  console.log(data);
                  // After successful authentication, fetch the user data
                  return fetch(url, requestOptions);
              })
              .then(response => {
                  if (!response.ok) {
                      throw new Error('Error fetching user data');
                  }
                  return response.json();
              })
              .then(data => {
                  // Process and display the user data here...
                  console.log(data);
              })
              .catch(err => {
                  console.error(err);
              });
      </script>
    </body>
</html>