<html>
    <body>
        <div class="index">
            <div class="jumbotron jumbotron-fluid" style="text-align: center; ">
                <h2>Help</h2>
                <p>For any help, please consult the following possible errors and solutions:</p>

                <h3>403: Unauthorized</h3>
                <p>Try logging in again or if your unsure if you have an account, try </p><a href="/register">Register</a><p> or </p><a href="/signin">Sign in</a>

                <h3>404: Not Found</h3>
                <p>Try going back to where you were before the 404 page showed</p><a href="javascript:history.back()">Go Back</a>

                <h3>500: Internal Server Error</h3>
                <p>Try going back to where you were before the 500 page showed</p><a href="javascript:history.back()">Go Back</a>
            </div>
        </div>
</html>