{% extends "layouts/base.html" %}
{% set project = "Home" %}

{% block body %}
    <!-- Start of body content specific to page -->
    <div class="px-5 py-5 mx-auto">
        <h1 class="text-white"><strong>Python Home Page</strong></h1>
        <div class="row">
            
            <div class="col-4">
                <div class="card">
                    <img class="card-img-top" src="{{ url_for('static', filename='assets/flask.png') }}" alt="Flask Development" height="250">
                    <div class="card-body">
                    <h5 class="card-title">What is <mark>Atlas</mark>? </h5>
                    <p class="card-text">
                        <ol>
                            <li>Atlus is our group project the centers around money and investing</li>
                            <li>It is a easy platform to research about stock, crypto, and realstate.</li>
                            <li>Its also a platform to test your trading skill by our simulated stock trading feature and crypto trading feature</li>
                            <li>Jinja2 is a server-side Python like template engine, supports HTML5 web development, and provides full integration with Flask.</li>
                        </ol>
                    </p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
            
            
        </div>
    </div>
{% endblock %}