<html lang="en">
<body>

<h2>Add User</h2>

<form action="javascript:login_user()">
    <p><label>
        User ID:
        <input type="text" name="userid" id="userid" required>
    </label></p>
    <p><label>
        Name:
        <input type="text" name="name" id="name" required>
    </label></p>
    <p><label>
        Password:
        <input type="password" name="password" id="password" required>
    </label></p>
    <p><label>
        Date of Birth:
        <input type="date" name="dob" id="dob" required>
    </label></p>
    <p>
        <button>Login</button>
    </p>
</form>
</body>
<script type="module" src="{% raw %}{{site.baseurl}}{% endraw %}/assets/js/api/config.js"></script>

<script type="module">
    function login_user(){
        // Set Authenticate endpoint
        let uri = 'http://localhost:8086';
        const url = uri + '/api/users/authenticate';

        // Set body of request to include login data from DOM
        const body = {
            userid: document.getElementById("userid").value,
            name: document.getElementById("name").value,
            password: document.getElementById("password").value,
            dob: document.getElementById("dob").value,
        };
        // Change options according to Authentication requirements
        const authOptions = {
            ...options, // This will copy all properties from options
            method: 'POST', // Override the method property
            cache: 'no-cache', // Set the cache property
            body: JSON.stringify(body)
        };

        // Fetch JWT
        fetch(url, authOptions)
        .then(response => {
            // handle error response from Web API
            if (!response.ok) {
                const errorMsg = 'Login error: ' + response.status;
                console.log(errorMsg);
                return;
            }
            // Success!!!
            // Redirect to the database page
            window.location.href = "{{site.baseurl}}/data/database";
        })
        // catch fetch errors (ie ACCESS to server blocked)
        .catch(err => {
            console.error(err);
        });
    }

    // Attach login_user to the window object, allowing access to form action
    window.login_user = login_user;
</script>
</html>