<html>
    <body>
        <script>
            import { uri, options } from '/static/js/api/config.js';

            function signin(){
                const authurl = uri + '/api/users/authenticate';
                const body = {
                    username: document.getElementById('uid').value,
                    uid: document.getElementById('uid').value,
                    password: document.getElementById('password').value
                };
                const authOptions = {
                    ...options,
                    method: 'POST',
                    body: JSON.stringify(body),
                    cache: 'no-cache'
                };
                // Fetch the JWT
                fetch(authurl, authOptions)
                .then(response =>{
                    if (!response.ok){
                        throw new Error('Error authenticating user');
                        return;
                    }
                    else{
                        return response.json();
                    }
                    // // Login Successful
                    // window.location.href = "{{site.baseurl}}/display/";
                })
                .catch(err => {
                    console.error(err);
                });
            }
        </script>
        <form action="javascript:signin()">
            <p><label>
                    Username:
                    <input type="text" name="name" id="name" required>
            </label></p>
            <p><label>
                User ID:
                <input type="text" name="uid" id="uid" required>
            </label></p>
            <p><label>
                Password:
                <input type="password" name="password" id="password" required>
            </label></p>
            <p>
                <button>Login</button>
            </p>
        </form>
    </body>
</html>