<html>
    <body>
        <form action="javascript:login_user()">
            <p><label>
                User ID:
                <input type="text" name="uid" id="uid" required>
            </label></p>
            <p><label>
                Password:
                <input type="password" name="password" id="password" required>
            </label></p>
            <p>
                <button>Login</button>
            </p>
        </form>
        <script>
            
        </script>
    </body>
</html>